{{#each posts}}
<li class="post">
    <h2>{{title}}</h2>
    <p>{{text}}</p>
    <img id="img" src="{{image}}" alt="{{title}}" width="300px">
    <div class="buttons">
        <button class="editPostButton" data-id="changeBtn">Редагувати</button>
        <button class="deletePostButton" data-id="deleteBtn">Видалити</button>
    </div>
    <div class="commentsContainer" data-id="">
        <h3>Коментарі:</h3>
            <ul class="comment-list">
                <li></li>
            </ul>
        <form class="createCommentForm">
            <input type="text" class="commentInput" placeholder="Новий коментар" required>
            <button type="submit">Додати коментар</button>
        </form>
    </div>
</li>
{{/each}}