<div class="post">
    <h2>{{title}}</h2>
    <p>{{text}}</p>
    <button class="editPostButton" data-id="changeBtn">Редагувати</button>
    <button class="deletePostButton" data-id="deleteBtn">Видалити</button>
    <div class="commentsContainer" data-id="">
        <h3>Коментарі:</h3>
            <ul>
                <li></li>
            </ul>
        <form class="createCommentForm">
            <input type="text" class="commentInput" placeholder="Новий коментар" required>
            <button type="submit">Додати коментар</button>
        </form>
    </div>
</div>