.main{
    // height: 100vh;
    background-color: $main-bg;
    padding-bottom: 50px;
}
header{
    height: 250px;
    padding-top: 20px;
    background-color: $soft-pink-bg;
}
.title-bg{
     background: linear-gradient($main-bg, $main-bg),
            url('/img/title-bg.jfif') top/cover no-repeat;
    width: 1000px;
    height: 200px;
    padding-top: 40px;
    border-radius: 50px;
    border: none;
    margin: 0 auto;
    box-shadow:0 0 25px rgba(0,0,0,50%);
}
.main-title{
    @include text($family:'Alegreya', $size:100px);
    text-align: center;
    margin: 0;
    text-shadow: (0px 7px 4px $text-col);
}

.post-act{
    background-color: $soft-pink-bg;
    margin: 55px 0;
    height: 250px;
    padding-top: 40px;
}
.search{
    display: block;
    width: 1000px;
    height: 70px;
    @include text($color:$text-col, $size:25px);
    @include input();
    margin: 0 auto;
    padding-left: 70px;
    background-image: url(/img/search.svg);
    background-repeat: no-repeat;
    background-position: 0, 10px;
    &:focus{
        outline: none;
    }
}
.load-more{
    display: block;
    @include btn($background:$dark-pink, $width:1200px, $height:60px);
    @include text($size:40px, $family:'Alegreya',$weight:600);
    text-align: center;
    margin: 10px auto 0;
     &:hover{
        @include btn($background:$white,$width:1200px, $height:60px,);
        @include text($size:40px,$family:'Alegreya', $color:$text-col, $weight:600);
        border: 7px solid $text-col;
    }
}

#postsContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
}
.post{
    width: 530px;
    height: 700px;
    padding-left: 10px;
    background-color: $soft-pink-bg;
    transition: transform 0.3s ease;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 4px 7px 4px rgba(0,0,0,25%);
    & h2{
        @include text($size:30px,$weight:600,$color: $text-col);
        margin: 20px 0;
    }
    & p{
        @include text($size:15px,$color:#928380);
        max-height: 70px;
        overflow: hidden;
    }
    & img{
        border-radius: 20px;
        display: block;
        margin: 0 auto;
        box-shadow:0 0 30px rgba(0,0,0,55%);
    }
}
.mypost{
    height: 800px;
}
.buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    & button{
        @include btn($width:150px, $height:40px, $border-rad:10px);
        @include text($size: 15px);
    }
}

.commentsContainer{
    background-color: $dark-pink;
    width: 470px;
    height: 300px;
    border-radius: 20px;
    padding-top: 5px;
    margin: 20px auto;
    & h3{
        @include text($size:20px,$weight:600);
        text-align: center;
        margin: 0;
    }
}
.comment-list{
    height: 150px;
}
.createCommentForm{
    & input{
        @include input($bg:$soft-pink-bg, $border-rad:10px);
        @include text($size:15px);
        width: 420px;
        height: 35px;
        display: block;
        margin: 0 auto;
        padding-left: 10px;
    }
    & button{
        @include btn($width:150px, $height:40px, $border-rad:10px);
        @include text($size: 15px);
        margin: 30px 0 0 300px;
    }
}
.page-selector{
    position: absolute;
    top: 100px;
    left: 30px;
    width: 170px;
    height: 60px;
    padding: 0 5px;
    background-color: $dark-pink;
    border: 5px solid $white;
    border-radius: 10px;
    outline: none;
    @include text($size:20px);
    transition: transform 0.3s ease;
     &:hover{
        transform: scale(1.05);
    };
    box-shadow:4px 7px 4px rgba(0,0,0,25%);
}